html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	background: #f3f4f6;

	::-webkit-scrollbar,
	*::selection {
		background: none;
		display: none;
		pointer-events: none;
	}

	* {
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		text-decoration: none;
		background: none;
		border: none;
		outline: none;
		font-family: "Host Grotesk", sans-serif;
	}

	section {
		display: flex;
		scroll-snap-type: y mandatory;
	}

	#container {
		overflow: auto;
		scroll-snap-type: y mandatory;
		height: 80vh;
	}

	#hero-section,
	#features-section,
	#app-section {
		scroll-snap-align: start;
		height: 100%;
	}

	table {
		border-collapse: separate;
		border: solid #ccc 1px;
		border-radius: 10px;
	}

	#expenseModal input {
		border: 1px solid #ccc;
	}
}
